*.jl.cov
*.jl.*.cov
*.jl.mem
/deps/deps.jl
/docs/build
Manifest.toml
*/*/tmp
*/*/.ipynb_checkpoints
.DS_Store
tmp

# Franklin
__site/
.DS_Store
franklin
franklin.pub
node_modules/
package.json
package-lock.json
