## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

jobs:
  include:
    - stage: Documentation
      julia: 1.1
      os: linux
      script:
        - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs --color=yes docs/make.jl
      after_success: skip

notifications:
  email: true

git:
  depth: 99999999

