<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>

<div class="franklin-content">
  <div class="top-bar">
    <a href="/">TuringModels</a>
  </div>
  <h1>{{fill title}}</h1>
</div>

<!-- Content appended here -->
